@{
    ViewData["Title"] = "ChechuViajes";
}

<div>
    <h1>Bienvenidos a ChechuViajes.</h1>
    <p>Para hacer tu paquete toque aca abajo.</p>
    <a href='@Url.Action("SelectPaquete")'>Crear Paquete</a>

</div>



@foreach (var item in @ViewBag.Paquete)
{
    <tr>
        <td>@item.Key</td>
        <br>
            <td><img src="~/img/@item.Value.Hotel" width='18%' height='auto' /></td>
        <br>
            <td><img src="~/img/@item.Value.Aereo" width='18%' height='auto' /></td>
        <br>
            <td><img src="~/img/@item.Value.Excursion" width='18%' height='auto' /></td>
        <br>
    </tr>
}


